body {
    background-color: pink;
    opacity: .8;
}

.center {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: "Arial";
    color: mediumvioletred;
}

.text1 {
    font-family: Arial;
    color: rgb(128, 0,32);
}

.text2 {
    font-family: Arial;
    color: #0015ff;
}

.div {
    border: 5px solid black;
    margin: 70px;
    background-color: white;
    opacity: .6;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
}

.column {
    padding: 5px;
    align-items: center;
}



